language: node_js
node_js:
  - "lts/*"
before_install:
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add - 
  - sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
  - sudo apt-get update
  - sudo apt-get --assume-yes install google-chrome-stable=63.0.3239.108-1
  - sudo apt-get --assume-yes install firefox=57.0.3+build1-0ubuntu0.14.04.1
deploy:
  provider: npm
  email: "koutnypetr@seznam.cz"
  api_key: "78b10403-e5ad-4f2a-ab5a-ee3743f4fc4d"
  on:
    branch: master